<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<div class="center">
  <h1> Welcome To the Training of Angular </h1>
</div>

<img [src]="imageURL"/>



<h4>====================================</h4>

<h4> 80 + 100 = {{x + y}}</h4>
<h4> 80 - 100 = {{x - y}}</h4>
<h4> 80 * 100 = {{x * y}}</h4>
<h4> 80 / 100 = {{x / y}}</h4>
<h4> 80 % 100 = {{x % y}}</h4>

<h4>====================================</h4>
<input type="number" [(ngModel)]="number1"/>
<input type="number" [(ngModel)]="number2"/>
<br>
<br>
<table >
  <tr>
    <th>Addition |</th>
    <th>Subtraction |</th>
    <th>Multiplication |</th>
    <th>Division |</th>
    <th>Remainder |</th>
  </tr>
  <tr>
    <td>{{number1+number2}}</td>
    <td>{{number1-number2}}</td>
    <td>{{number1*number2}}</td>
    <td>{{number1/number2}}</td>
    <td>{{number1%number2}}</td>
  </tr>
</table>



<h4>====================================</h4>
<h4>The Conatenation of Strings</h4>
<p>First Name :<input type="text" [(ngModel)]="first_name"/></p>
<p>Last Name :<input type="text" [(ngModel)]="last_name"/></p><br>



<h4>The Full Name : {{first_name +" "+ last_name}}</h4>

<h4>====================================</h4>
<h4>Click on the below button</h4>
<button (click)="OnButtonClicked($event)">Click on me</button>






<h4>====================================</h4>
<h4> Alert the string by concatenation</h4>
<p>First Name : <input type="text" [(ngModel)]="first_name1"/></p>
<p>Last Name : <input type="text" [(ngModel)]="last_name1"/></p>
<button  (click)="getname()">Click on me</button>



<h4>====================================</h4>
<h4> Salary Details</h4>
<p>Basic <input type="text" [(ngModel)]="basic"/></p>
<p>HRA <input type="text" [(ngModel)]="HRA"/></p>
<p>DA <input type="text" [(ngModel)]="DA"/></p>
<p>Deductions <input type="text" [(ngModel)]="deductions"/></p>
<p>IT <input type="text" [(ngModel)]="IT"/></p>
<button (click)="getdetails()">My Salary</button>



<h4>====================================</h4>
<h4> Disabled Button </h4>

<button disabled="request" (click)="getname()">Click on me</button>

<h4>====================================</h4>
<h4> Display the months </h4>
<li *ngFor="let i of months">
  {{i}}
</li>

<h4>====================================</h4>
<h4 style="padding-left:30px ;"> Table </h4>
<table class="table table-bordered table-hover table-dark "style="padding-left:30px" >
  <tr >
    
  </tr>
  <tr>
    <td>1</td>
    <td>Chandra</td>
    <!-- <td>CSE</td>
    <td></td> -->

  </tr>
  <tr>
    <td>2</td>
    <td>Chetan</td>
    <!-- <td>CHEM</td>
    <td>Delhi</td> -->
  </tr>
  <tr>
    <td>3</td>
    <td>Yashwanth</td>
    <!-- <td>CSE</td>
    <td>Hyderabad</td> -->
  </tr>
  <tr>
    <td>4</td>
    <td>Teja</td>
    <!-- <td>CSE</td>
    <td>Kolkota</td> -->
  </tr>
  <tr>
    <td>5</td>
    <td>Mukund</td>
    <!-- <td>CSE</td>
    <td>Kolkota</td> -->
  </tr>
  <tr>
    <td>6</td>
    <td>Prashanth</td>
    <!-- <td>CSE</td>
    <td>Warangal</td> -->
  </tr>
  <tr>
    <td>7</td>
    <td>Sreeja</td>
    <!-- <td>CSE</td>
    <td>Warangal</td> -->
  </tr>
  <tr>
    <td>8</td>
    <td>Rishika</td>
    <!-- <td>ECE</td>
    <td >Hyderabad</td> -->
  </tr>
</table>

<h1>====================================</h1>

<h4>Ng style to change the style of DOM</h4>
<h4 [ngStyle]="{backgroundColor:h1color}">HELLO ANGULAR</h4>
<button (click)="changeColor()">Change the color</button>


<h1>====================================</h1>

<h4>Pipes</h4>
<p>Upper Case <input type="text" [(ngModel)]="upper_case"/> {{ upper_case | uppercase }}</p>
<p>Lower Case <input type="text" [(ngModel)]="lower_case"/> {{ lower_case | lowercase }}</p>
<p>Currency <input type="text" [(ngModel)]="currency"/> {{ currency | currency }}</p>
<p>Today Date : {{ todaynumber | date:'shortDate' }} </p>
<p>Short Time : {{ todaynumber | date:'shortTime' }} </p>
<p>JSON <input type="text" [(ngModel)]="jsonVal"/> {{ jsonVal| json }}</p>
<p>Percentage <input type="text" [(ngModel)]="percentage"/> {{ percentage| percent }}</p>
